.gml-container {
    max-height: 80vh;
    width: 365px;
    position: absolute;
    top: 100px;
    left: 38vw;
    background-color: #17212b;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gml-title {
    width: 95%;
    height: 55px;
    margin: 10px auto;
    color: white;
    cursor: default;
}

.gml-title h4 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}

.gml-list {
    height: max-content;
    width: 95%;
    margin: 10px auto;
    margin-top: 0px;
}