.messages {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.m-message-holder {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.m-input-field {
    width: 95%;
    height: 50px;
    border-radius: 15px;
    margin: auto;
}

.m-input-field textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 25px;
    background-color: #0a121b;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.m-input-field textarea:focus,
.m-input-field textarea:hover {
    outline: none;
    border: none;
    background-color: #1c2835;
}