.message-item {
    max-width: 60%;
    width: fit-content;
    min-height: 60px;
    display: flex;
    background-color: #6ab2f2;
    align-items: center;
    margin: 15px;
    border-radius: 8px;
}

.mi-img-holder {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.mi-msg-details {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mi-msg-details h6 {
    font-size: 15px;
    max-height: 20px;
    margin: 0px;
    padding: 5px 5px 0px 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    outline: none;
}

.mi-message-holder {
    overflow: hidden;
    color: white;
    font-size: 15px;
    padding: 5px 5px 0px 5px;
    margin: 0px;
}

.right {
    align-self: flex-end;
    margin-right: 50px;
}

.right h6 {
    text-align: end;
}

.right .mi-message-holder {
    text-align: end;
}

.left h6 {
    text-align: start;
}

.left .mi-message-holder {
    text-align: left;
}

.left {
    margin-left: 50px;
    background-color: palevioletred;
}