.chat-list {
    width: 32vw;
    background-color: #17212b;
    color: white;
}

.cl-full-width {
    width: 100vw;
}

.cl-title {
    width: 100%;
    height: 45px;
    margin-top: 0px;
}

.cl-title h5 {
    width: 75%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin: 0px;
    margin-left: 65px;
    margin-top: 20px;
    font-size: 25px;
    overflow: hidden;
}

.cl-title input:focus {
    outline: none;
    border: none;
}

@media screen and (max-width:628px) {
    .screen-small-cl {
        width: 100vw;
        height: 100vh;
    }
}